{{- if  $.Values.zmq.enabled }}

{{- range $ran_name, $values := .Values.duConfigs }}

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: srs-grc-{{ $ran_name }}
  labels:
    app: srs-grc-{{ $ran_name }}
spec:
  serviceName: srs-service-du-{{ $ran_name }}-grc
  selector:
    matchLabels:
      app:  srs-grc-{{ $ran_name }}
  template:
    metadata:
      labels:
        app:  srs-grc-{{ $ran_name }}
      # annotations:
      #   k8s.v1.cni.cncf.io/networks: '[ { "name": "srs-sriov-ue" } ]'
    spec:
      serviceAccountName: srs-service-account
      terminationGracePeriodSeconds: 0
      securityContext:
        runAsUser: 0
        runAsGroup: 0

      containers:
      - name: grc
        image: "{{ $.Values.image.srs_grc }}"
        imagePullPolicy: "{{ $.Values.image.pullPolicy }}"

        command: ["/bin/sh", "-c"]
        {{- if  $.Values.debug_mode.enabled }}
        args: [ "sleep 99999999d" ]
        {{- else }}
        args: [ "/app/GRC_run.sh" ]
        {{- end }}

        env:
          - name: GNB_ADDR
            value: "srs-gnb-{{ $ran_name }}-zmq.ran.svc.cluster.local"
          - name: GNB_TX_PORT
            value: "{{ $.Values.zmq.ran.tx_port}}"
          - name: GNB_RX_PORT
            value: "{{ $.Values.zmq.ran.rx_port}}"
          - name: UE_ADDRS
            value: "{{- range $ue_name, $ue := $.Values.zmq.ues -}}{{ if $ue_name }} {{ end }}srs-{{ $ue_name }}-{{ $ran_name }}-zmq.ran.svc.cluster.local{{- end }}"
          - name: UE_TX_PORTS
            value: "{{- range $ue_name, $ue := $.Values.zmq.ues -}}{{ if $ue_name }} {{ end }}{{ $ue.tx_port }}{{- end }}"
          - name: UE_RX_PORTS
            value: "{{- range $ue_name, $ue := $.Values.zmq.ues -}}{{ if $ue_name }} {{ end }}{{ $ue.rx_port }}{{- end }}"
          - name: UE_PATHLOSS
            value: "{{- range $ue_name, $ue := $.Values.zmq.ues -}}{{ if $ue_name }} {{ end }}{{ $ue.pathloss }}{{- end }}"

        securityContext:
          privileged: true
          seccompProfile:
            type: Unconfined          
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_TIME
              - SYS_ADMIN
              - IPC_LOCK
              - SYS_NICE              
        tty: true
        stdin: true

        resources:
          requests:
            cpu: {{ $.Values.resources.ue.requests.cpu | default "500m" }}
            memory: {{ $.Values.resources.ue.requests.memory | default "512Mi" }}
          limits:
            cpu: {{ $.Values.resources.ue.limits.cpu | default "1" }}
            memory: {{ $.Values.resources.ue.limits.memory | default "1Gi" }}


---
# DNS: srs-grc-{{ $ran_name }}-zmq.<namespace>.svc.cluster.local
apiVersion: v1
kind: Service
metadata:
  name: srs-grc-{{ $ran_name }}-zmq
  namespace: {{ $.Release.Namespace }}
  labels:
    app: srs-grc-{{ $ran_name }}
spec:
  selector:
    app: srs-grc-{{ $ran_name }}
  type: ClusterIP
  ports:
    - name: grc-gnb-zmq-rx
      protocol: TCP
      port: {{ $.Values.zmq.ran.rx_port}}
      targetPort: {{ $.Values.zmq.ran.rx_port}}
    - name: grc-gnb-zmq-tx
      protocol: TCP
      port: {{ $.Values.zmq.ran.tx_port}}
      targetPort: {{ $.Values.zmq.ran.tx_port}}
{{- range $ue_name, $ue_values := $.Values.zmq.ues }}  
    - name: grc-{{ $ue_name }}-zmq-tx
      protocol: TCP
      port: {{ $ue_values.tx_port }}
      targetPort: {{ $ue_values.tx_port }}
    - name: grc-{{ $ue_name }}-zmq-rx
      protocol: TCP
      port: {{ $ue_values.rx_port }}
      targetPort: {{ $ue_values.rx_port }}
{{- end }}


{{- range $ue_name, $ue_values := $.Values.zmq.ues }}

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: srs-{{ $ue_name }}-{{ $ran_name }}
  labels:
    app: srs-{{ $ue_name }}-{{ $ran_name }}
spec:
  serviceName: srs-service-du-{{ $ran_name }}-{{ $ue_name }}
  selector:
    matchLabels:
      app:  srs-{{ $ue_name }}-{{ $ran_name }}
  template:
    metadata:
      labels:
        app:  srs-{{ $ue_name }}-{{ $ran_name }}
      # annotations:
      #   k8s.v1.cni.cncf.io/networks: '[ { "name": "srs-sriov-ue" } ]'
    spec:
      serviceAccountName: srs-service-account
      terminationGracePeriodSeconds: 0
      securityContext:
        runAsUser: 0
        runAsGroup: 0

      containers:
      - name: ue
        image: "{{ $.Values.image.srs_ue }}"
        imagePullPolicy: "{{ $.Values.image.pullPolicy }}"

        command: ["/bin/sh", "-c"]
        {{- if  $.Values.debug_mode.enabled }}
        args: [ "sleep 99999999d" ]
        {{- else }}
        args: [ "/usr/local/bin/run.sh" ]
        {{- end }}

        env:
          - name: TX_PORT
            value: "{{ $ue_values.tx_port }}"
          - name: RX_ADDR
            value: "srs-grc-{{ $ran_name }}-zmq.ran.svc.cluster.local"
          - name: RX_PORT
            value: "{{ $ue_values.rx_port }}"
          - name: IMSI
            value: "{{ $ue_values.imsi }}"
          - name: IMEI
            value: "{{ $ue_values.imei }}"
          - name: APN
            value: "{{ $ue_values.apn }}"

        securityContext:
          privileged: true
          seccompProfile:
            type: Unconfined          
          capabilities:
            add:
              - NET_ADMIN
              - NET_RAW
              - SYS_TIME
              - SYS_ADMIN
              - IPC_LOCK
              - SYS_NICE              
        tty: true
        stdin: true

        resources:
          requests:
            cpu: {{ $.Values.resources.ue.requests.cpu | default "500m" }}
            memory: {{ $.Values.resources.ue.requests.memory | default "512Mi" }}
          limits:
            cpu: {{ $.Values.resources.ue.limits.cpu | default "1" }}
            memory: {{ $.Values.resources.ue.limits.memory | default "1Gi" }}

---
# DNS:  srs-{{ $ue_name }}-{{ $ran_name }}-zmq.<namespace>.svc.cluster.local
apiVersion: v1
kind: Service
metadata:
  name: srs-{{ $ue_name }}-{{ $ran_name }}-zmq
  namespace: {{ $.Release.Namespace }}
  labels:
    app:  srs-{{ $ue_name }}-{{ $ran_name }}
spec:
  selector:
    app:  srs-{{ $ue_name }}-{{ $ran_name }}
  type: ClusterIP
  ports:
    - name: {{ $ue_name }}-zmq-tx
      protocol: TCP
      port: {{ $ue_values.tx_port }}
      targetPort: {{ $ue_values.tx_port }}
    - name: {{ $ue_name }}-zmq-rx
      protocol: TCP
      port: {{ $ue_values.rx_port }}
      targetPort: {{ $ue_values.rx_port }}



---
{{- end }}

{{- end }}

{{- end }}
